body {
  background:#ffd6f8;
  font-family: "Georgia", serif;
}

h1 {
  text-align:center;
  color:#d417b4;
  background-color:#fcf8f7;
  font-size:60px;
}

nav a {
  font-size: 26px;
  text-decoration:none;
  background-color:white;
  border-radius: 10px;
  color:#d417b4;
  border: 3px solid #d417b4 ;
  padding:5px 20px;
  margin: 0px 15px;
}
nav { 
  text-align: center;
  margin-bottom: 15px;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

section {
  border:3px solid #d417b4;
  border-radius: 15px;
  padding: 25px;
  margin: 15px;
  background-color: white;
}

section img {
  width: 450px;
  height: auto;
  border-radius: 10px;
  padding:10px;
}
